
.tableHead{
	text-align: center;
	font-weight: bold;
	background-color: #D3D3D3;
}
#user{
	background-color: black;
	color: white; 
}
#map{
	border-collapse: collapse;

}
#map td{
	width: 64px;
	height: 64px;
	text-align: center;
	border-collapse: collapse;
	padding: 0;
	background-color: #FFE4E1;

}
#new td{	
	border:1px solid black;
	padding:0;	
}

#new table{
	border-collapse: collapse;
	margin-left: auto;
    margin-right: auto;
}
#mapPlace td{
	border:none;
	width: 64px;
	height: 64px;
	text-align: center;
	border-collapse: collapse;
	padding: 0;
	background-color: #FFE4E1;
}
#resAndAction{	
	height: 91px;
	width: 160px;
	padding:5px;
	background-color: #F5F5F5;
}
#showRestable td{
	border: none;
	text-align: left;
	padding: 0 5px ;
}
#activityList{
	width: 160px;
	height: 170px;
	background-color: #F5F5F5;	
	overflow: auto;
	padding: 5px;
}

#timerTable{	
	border-collapse: collapse; 
	

}
.timer{
	width: 150px;
	/*border:1px solid #9370DB ;*/
	font-size: 20px;
	padding: 5px 10px;
}
#timerTable tr:hover{
	cursor: pointer;
	background-color: #F0E68C;
}
#timerTable td{
	border: none;
	cursor: pointer;
	padding: 3px;

}
.resImg{	
	padding: 3px;
}
#activeForms{		
	background-color:#F5F5F5;
	width: 160px;
	height: 120px;	
	text-align: left;
}
#activeFormsInfo{	
	background-color:#F5F5F5;
	width: 159px;
	height: 120px;
	text-align: left;
}
#workForm{
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
}
#workForm input{
	width: 145px;
}
#workForm select{
	width: 149px;
}
#workForm input[type="submit"]{
	width: 149px;
	margin-top: 5px; 
}
#workFormInfo{
	display: block;
	padding: 5px;
}
#actionLog{
	background-color:#F5F5F5;
	width: 160px;
	height: 110px;
	text-align:left;
	padding: 5px;
	overflow: auto;


}
p{
	margin-left: 10px;
}
img{
	 vertical-align: middle;

}

.mapCellImg:hover{
	cursor: pointer;
	width: 62px;
	height: 62px;
	border: 1px solid #FF4500;
}

#new{
	border: 1px solid black;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;	
}


#gameRes{
	height: 120px;
	padding:5px;
	background-color: #F5F5F5;
}


