#contentbox{
	margin-left: auto;
	margin-right: auto;
	display: table;
}
#mainBlock{
	display: inline-block;
	float: left;

}
#map{
	border-collapse: collapse;

}
#map td{
	border:1px solid #FF4500;
	width: 64px;
	height: 64px;
	text-align: center;
	border-collapse: collapse;
	padding: 0;
	background-color: #FFE4E1;

}
#resAndAction{
	display: inline-block;
	border:1px solid #9370DB;
	background-color: #D8BFD8;
	width: 200px;
	height: 324px;
	position: relative;
}
#activityList{
	width: 178px;
	height: 186px;
	position: fixed;
	margin-left:5px;
	background-color: #E6E6FA;
	border:1px solid #9370DB;
	overflow: auto;
	padding: 5px;
	
}
#activeForms{
	display: inline-block;
	border:1px solid #4169E1;
	background-color:#ADD8E6;
	width: 139px;
	height: 150px;
	border-right: none;
	text-align: left;
	float: left;
}
#activeFormsInfo{
	display: inline-block;
	border:1px solid #4169E1;
	background-color:#E0FFFF;
	width: 184px;
	height: 150px;
	text-align: left;
	float: left;
}
#actionLog{
	display: inline-block;
	border:1px solid #9ACD32;
	background-color:#98FB98;
	width: 200px;
	height: 150px;
	text-align: center;

}
p{
	margin-left: 10px;
}
img{
	 vertical-align: middle;

}

.mapCellImg:hover{
	cursor: pointer;
	width: 62px;
	height: 62px;
	border: 1px solid #FF4500;
}
#workForm{
	padding: 5px;
}

#workForm input{
	width: 122px;

}
#workForm select{
	width: 126px;
}
#workForm input[type="submit"]{
	width: 126px;
	margin-top: 5px; 
}
#workFormInfo{
	display: block;
	padding: 5px;
}